<div class='ms-auto'>
  <% if current_user && current_user.bookmark?(post) %>
    <%= render 'posts/unbookmark', post: post %>
  <% elsif current_user %>
    <%= render 'posts/bookmark', post: post %>
  <% end %>
</div>