<div class="container pt-5">
  <!-- 掲示板一覧 -->
  <div class="container">
    <div class="row">
      <div class="col">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>